.multiple_persons {
  visibility: hidden;
  height: 0;
}

.delivery {
  visibility: hidden;
  height: 0;
}
// #set_chargers {
//   outline: 1px solid red;
// }

.advarsel {
  visibility: hidden;
  height: 0;
  color: red;
}
