$color-white: #ffffff;
$color-almost_black: #333333;
$color-almost_black_60: rgba(51, 51, 51, 0.6);
$color-lightgrey_background: #f1f1f1;
$color-lightgrey_text: rgba(51, 51, 51, 0.6);
$color-lightning_green: #abcc45;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-almost_black;
}

#main_container {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

.menu {
  background-image: url(static/billede_menu.png);
  background-size: 100%;
  width: 100vw;
  height: 13vw;
  position: sticky;
  z-index: -1;
}

.form_grid {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 50px auto auto;
  justify-items: center;
  background-color: $color-white;
}

// ------------------------------ GENERELT -------------------------//
%betalingsflow_billede {
  background-color: $color-white;
  width: 100vw;
  height: 13vw;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(3, 33.3%);
}

%container {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 6vw;
}

%section {
  background: $color-white;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 94vw;
  display: grid;
}
%section_billede {
  background-size: 100%;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
  background-repeat: no-repeat;
}

%grey_box {
  width: 100%;
  background: $color-lightgrey_background;
  grid-row: 1 / span 1;
}
h1 {
  font-weight: normal;
  color: $color-almost_black;
  font-size: 7vw;
  grid-row: 1 / span 1;
  grid-column: 2;
  font-size: 24px;
}
h2 {
  color: $color-lightgrey_text;
  font-weight: normal;
}
%margin_left {
  margin-left: 20px;
}
%margin_right {
  margin-right: 20px;
}
%hr {
  width: 90%;
  height: 2px;
  background: $color-lightgrey_background;
  @extend %margin_left;
}

%advarsel {
  visibility: hidden;
  height: 0;
  color: red;
  grid-column: 1 / span 3;
  @extend %margin_left;
  @extend %margin_right;
}

%flowikon {
  grid-row: 1;
  background-size: 100%;
  background-repeat: no-repeat;
  align-self: center;
}
%flowikon_kurv {
  grid-column: 1 / span 1;
  background-image: url(static/indkoebskurvikon.svg);
  width: 35px;
  height: 24.2px;
  justify-self: end;
}
%flowikon_oplysninger {
  grid-column: 2 / span 1;
  width: 23px;
  height: 21.86px;
  justify-self: center;
}

%flowikon_betaling {
  grid-column: 3 / span 1;
  width: 26px;
  height: 19.5px;
}

.linje {
  width: 38vw;
  height: 2px;
  background-color: $color-almost_black;
  grid-row: 1;
  grid-column: 1 / span 3;
  align-self: center;
  justify-self: center;
}
%ekstratekst_knap {
  grid-column: 3 / span 1;
  width: 32px;
  height: 32px;
  background: #e5e5e5;
  border: 0.5px solid #c4c4c4;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  justify-self: end;
  @extend %margin_right;
  p {
    margin: 0;
    text-align: center;
    margin-top: 3px;
    font-size: 24px;
  }
}

%green_button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $color-lightning_green;
  border-radius: 6px;
  color: $color-white;
  width: 94vw;
  height: 46px;
  margin-top: 6vw;
  font-size: 18px;
  font-weight: 700;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: 20px;
}

// -------------------------------------- FLOW 1 --------------------------------//

.betalingsflow_billede1 {
  @extend %betalingsflow_billede;
  grid-column-start: 1;
  grid-column-end: 2;

  .flowikon_kurv {
    @extend %flowikon;
    @extend %flowikon_kurv;
  }
  .flowikon_oplysninger {
    @extend %flowikon;
    @extend %flowikon_oplysninger;
    background-image: url(static/profilIkonHvid.svg);
  }
  .flowikon_betaling {
    @extend %flowikon;
    @extend %flowikon_betaling;
    background-image: url(static/kreditkortLilleHvidIkon.svg);
  }
}

.container_flow1 {
  @extend %container;
  grid-template-rows: repeat(3, auto);
}

.kurv {
  @extend %section;
  box-sizing: border-box;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-columns: 65px auto 85px;
  grid-template-rows: 60px auto 10px auto auto auto auto auto auto auto;
}
// -------------------------------------- KURV --------------------------------//
.kurv .grey_box {
  @extend %grey_box;
  grid-column: 1 / span 3;
}

.ikon_vogn {
  @extend %section_billede;
  background-image: url(static/indkoebskurvIkon.svg);
  width: 35px;
  height: 24.2px;
}

.kurv h2 {
  grid-row: 2 / span 1;
  margin-bottom: 0;
  grid-column: 1 / span 3;
  @extend %margin_left;
  font-size: 18px;
  // font-weight: 100;
}
.kurv .hr {
  @extend %hr;
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
}
#number_persons {
  background: $color-white;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 38px;
  height: 30px;
  grid-row: 4 / span 1;
  grid-column: 1 / span 3;
  @extend %margin_left;
  font-size: 18px;
  align-self: center;
  margin-top: 5px;
}
.label_persons {
  grid-row: 4 / span 1;
  grid-column: 2 / span 2;
  font-size: 18px;
  align-self: center;
  font-weight: 700;
  margin-top: 5px;
}
.ekstratekst_knap {
  @extend %ekstratekst_knap;
  grid-row: 4 / span 1;
}

.advarsel1 {
  @extend %advarsel;
  grid-row: 5 / span 1;
  @extend %margin_left;
}
.advarsel2 {
  @extend %advarsel;
  grid-row: 5 / span 1;
  @extend %margin_left;
}

.bytteservice_billede {
  background-image: url(static/volt_lightning2.png);
  background-size: 100%;
  width: 31px;
  height: 26px;
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;
  @extend %margin_left;
  align-self: center;
}
.total_services {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  font-size: 14px;
  color: $color-lightgrey_text;
  margin: 20px 0;
}

.price_services {
  grid-column: 3 / span 1;
  grid-row: 6 / span 1;
  font-size: 14px;
  color: red;
  color: $color-lightning_green;
  justify-self: end;
  align-self: center;
  @extend %margin_right;
}

.oplader_billede {
  background-image: url(static/charger.jpg);
  background-size: 100%;
  width: 39px;
  height: 39px;
  grid-row: 7 / span 1;
  grid-column: 1 / span 1;
  @extend %margin_left;
  align-self: center;
}

.total_chargers {
  grid-column: 2 / span 1;
  grid-row: 7 / span 1;
  font-size: 14px;
  color: $color-lightgrey_text;
}

.price_chargers {
  grid-column: 3 / span 1;
  grid-row: 7 / span 1;
  font-size: 14px;
  justify-self: end;
  @extend %margin_right;
}

.single_person {
  grid-column: 1 / span 3;
  grid-row: 8 / span 2;
  display: contents;

  .tekst1 {
    grid-column: 1 / span 3;
    grid-row: 8 / span 1;
    @extend %margin_left;
    font-weight: 600;
    font-size: 14px;
  }
  #own_charger {
    grid-column: 1 / span 1;
    grid-row: 9 / span 1;
    width: 38px;
    height: 30px;
    @extend %margin_left;
    margin-bottom: 20px;
  }
  .label_own_charger {
    grid-column: 2 / span 2;
    grid-row: 9 / span 1;
    align-self: center;
    margin-bottom: 20px;
  }
}

.multiple_persons {
  visibility: hidden;
  height: 0;

  .tekst2 {
    grid-column: 1 / span 3;
    grid-row: 8 / span 1;
    @extend %margin_left;
    font-weight: 600;
    font-size: 14px;
  }

  #set_chargers {
    grid-column: 1 / span 1;
    grid-row: 9 / span 1;
    border: 1px solid #f1f1f1;
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 33px;
    height: 30px;
    @extend %margin_left;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .label_set_chargers {
    grid-column: 2 / span 2;
    grid-row: 9 / span 1;
    align-self: center;
    margin-bottom: 20px;
  }
}

.advarsel3 {
  @extend %advarsel;
  grid-row: 10 / span 1;
  @extend %margin_left;
  p {
    margin-top: 0;
  }
}

// -------------------------------------- KURV SLUT --------------------------------//
.levering {
  @extend %section;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-columns: 65px auto;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
}
// -------------------------------------- LEVERING --------------------------------//

.levering .grey_box {
  @extend %grey_box;
  grid-column: 1 / span 2;
}

.ikon_levering {
  @extend %section_billede;
  background-image: url(static/leveringsbilIkon.svg);
  width: 39.5px;
  height: 21px;
}

#delivery_afhentning,
#delivery_posthus {
  width: 0;
  height: 0;
  display: none;
}

%delivery_button {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  grid-column: 1 / span 2;
  width: 95%;
  justify-self: center;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    @extend %margin_left;
  }
  p {
    display: inline;
    @extend %margin_right;
    font-weight: 700;
  }
}

.delivery_button1 {
  @extend %delivery_button;
  grid-row: 2 / span 1;
}
.delivery_button2 {
  @extend %delivery_button;
  grid-row: 3 / span 1;
  margin-bottom: 10px;
}

.chosen_delivery {
  border: 2px solid #abcc45;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
// ------------------------------------ LEVERING SLUT ----------------------------//
.container_flow1 .ordreoversigt {
  @extend %section;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-template-rows: auto auto auto auto auto 10px auto;
  grid-template-columns: 65px auto 95px;
  grid-row-gap: 18px;
}
// ------------------------------------ ORDREOVERSIGT ----------------------------//
.ordreoversigt .grey_box {
  @extend %grey_box;
  background: $color-almost_black;
  border-radius: 6px 6px 0 0;
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}
.ordreoversigt h1 {
  color: $color-white;
}
.ikon_oversigt {
  @extend %section_billede;
  background-image: url(static/ordreOversigtIkon.svg);
  width: 20.16px;
  height: 25.53px;
}
%child_right {
  justify-self: end;
  @extend %margin_right;
  font-size: 15px;
  grid-column: 3 / span 1;
  // font-weight: 600;
}
.order_services {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  font-size: 15px;
  @extend %margin_left;
}
.order_services_price {
  @extend %child_right;
  grid-row: 2 / span 1;
  color: $color-lightgrey_text;
  text-decoration: line-through;
}
.ordreoversigt p:first-of-type {
  color: $color-lightning_green;
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  @extend %margin_left;
  margin-top: 0;
  margin-bottom: 0;
}
.ordreoversigt p:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
  @extend %child_right;
  grid-row: 3 / span 1;
  color: $color-lightning_green;
}
.order_chargers {
  grid-row: 4 / span 1;
  grid-column: 1 / span 3;
  font-size: 15px;
  @extend %margin_left;
}
.order_chargers_price {
  @extend %child_right;
  grid-row: 4 / span 1;
}
.order_delivery {
  grid-row: 5 / span 1;
  grid-column: 1 / span 3;
  font-size: 15px;
  @extend %margin_left;
}
.order_delivery_price {
  grid-row: 5 / span 1;
  @extend %child_right;
}

.ordreoversigt .hr {
  @extend %hr;
  grid-row: 6 / span 1;
  grid-column: 1 / span 3;
}
.ialt {
  grid-row: 7 / span 1;
  grid-column: 1 / span 2;
  justify-self: end;
  margin-bottom: 20px;
  // font-weight: 600;
}
.ialt_pris {
  @extend %child_right;
  margin-bottom: 20px;
  grid-row: 7 / span 1;
  font-weight: 600;
}
// ------------------------------------ ORDREOVERSIGT SLUT ----------------------------//
.fortsaet {
  @extend %green_button;
}

// -------------------------------------- FLOW 2 --------------------------------//

.betalingsflow_billede2 {
  @extend %betalingsflow_billede;

  .flowikon_kurv {
    @extend %flowikon;
    @extend %flowikon_kurv;
  }
  .flowikon_oplysninger {
    @extend %flowikon;
    @extend %flowikon_oplysninger;
    background-image: url(static/profilIkonSort.svg);
  }
  .flowikon_betaling {
    @extend %flowikon;
    @extend %flowikon_betaling;
    background-image: url(static/kreditkortLilleHvidIkon.svg);
  }
}

.container_flow2 {
  @extend %container;
  grid-template-rows: auto;
}
.oplysninger {
  @extend %section;
  box-sizing: border-box;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-rows: 60px repeat(12, auto) 20px;
  grid-template-columns: 65px auto 85px;
}
// -------------------------------------- OPLYSNINGER --------------------------------//

.oplysninger .grey_box {
  @extend %grey_box;
  grid-column: 1 / span 3;
}

.ikon_oplysninger {
  @extend %section_billede;
  background-image: url(static/profilIkonSort.svg);
  width: 23px;
  height: 21.86px;
}

%oplysninger_input_label {
  grid-column: 1 / span 3;
  @extend %margin_left;
}
%oplysninger_label {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
}
%oplysninger_input {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 313px;
  height: 38px;
}

.label_firstname {
  @extend %oplysninger_input_label;
  grid-row: 2 / span 1;
  @extend %oplysninger_label;
}
#firstname {
  @extend %oplysninger_input_label;
  grid-row: 3 / span 1;
  @extend %oplysninger_input;
}

.label_lastname {
  @extend %oplysninger_input_label;
  grid-row: 4 / span 1;
  @extend %oplysninger_label;
}
#lastname {
  @extend %oplysninger_input_label;
  grid-row: 5 / span 1;
  @extend %oplysninger_input;
}

.delivery {
  height: 0;
  visibility: hidden;
  grid-row: 6 / span 1;
  // display: contents;

  .label_address {
    @extend %oplysninger_input_label;
    grid-row: 6 / span 1;
    @extend %oplysninger_label;
  }
  #address {
    @extend %oplysninger_input_label;
    grid-row: 7 / span 1;
    @extend %oplysninger_input;
  }

  .label_zip {
    @extend %oplysninger_input_label;
    grid-row: 8 / span 1;
    @extend %oplysninger_label;
  }
  #zip {
    @extend %oplysninger_input_label;
    grid-row: 9 / span 1;
    @extend %oplysninger_input;
  }
  .label_city {
    @extend %oplysninger_input_label;
    grid-row: 10 / span 1;
    @extend %oplysninger_label;
  }
  #city {
    @extend %oplysninger_input_label;
    grid-row: 11 / span 1;
    @extend %oplysninger_input;
  }
}

.label_email {
  @extend %oplysninger_input_label;
  grid-row: 12 / span 1;
  @extend %oplysninger_label;
}
#email {
  @extend %oplysninger_input_label;
  grid-row: 13 / span 1;
  @extend %oplysninger_input;
}
// -------------------------------------- OPLYSNINGER SLUT --------------------------------//
.fortsaet2 {
  @extend %green_button;
}

// -------------------------------------- FLOW 3 --------------------------------//

.betalingsflow_billede3 {
  @extend %betalingsflow_billede;

  .flowikon_kurv {
    @extend %flowikon;
    @extend %flowikon_kurv;
  }
  .flowikon_oplysninger {
    @extend %flowikon;
    @extend %flowikon_oplysninger;
    background-image: url(static/profilIkonSort.svg);
  }
  .flowikon_betaling {
    @extend %flowikon;
    @extend %flowikon_betaling;
    background-image: url(static/kreditkortlilleSortIkon.svg);
  }
}

.container_flow3 {
  @extend %container;
  grid-template-rows: repeat(3, auto);
}
// -------------------------------------- ORDREOVERSIGT --------------------------------//
.container_flow3 .ordreoversigt {
  @extend %section;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-rows: auto auto auto auto auto 10px auto;
  grid-template-columns: 65px auto 95px;
  grid-row-gap: 18px;
}
// RESTERENDE KODE ER OPPE VED FØRSTE ORDREOVERSIGT

// -------------------------------------- ORDREOVERSIGT SLUT--------------------------------//
.betaling {
  @extend %section;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-rows: 60px auto auto;
  grid-template-columns: 65px auto 95px;
}

// -------------------------------------- BETALING --------------------------------//
.betaling .grey_box {
  @extend %grey_box;
  grid-column: 1 / span 3;
}
.ikon_betaling {
  @extend %section_billede;
  background-image: url(static/kreditkortlilleSortIkon.svg);
  width: 23px;
  height: 21.86px;
}
.betaling h1 {
  grid-column: 2 / span 2;
}

.radio_payment {
  width: 0;
  height: 0;
  display: none;
}

.betaling_box {
  margin-top: 18px;
  width: 100%;
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-around;
  label p {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
  }
}
.payment_billede {
  width: 67px;
  height: 67px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.billede_kort {
  background-image: url(static/creditcard.gif);
  opacity: 0.5;
}
.billede_mobilepay {
  background-image: url(static/mobilepay.gif);
  opacity: 0.5;
}

.billede_paypal {
  background-image: url(static/paypal.gif);
  opacity: 0.5;
}

.chosen_paymentmethod {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2.5px solid #abcc45;
  opacity: 1;
}

// -------------------------------------- BETALING SLUT --------------------------------//

// -------------------------------------- NEWS & TERMS --------------------------------//
.news_terms {
  grid-row-start: 3;
  grid-row-end: 4;
  width: 94vw;
  font-size: 16px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 65px auto 95px;
}

.newsletter_text {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  margin-top: 0;
  font-size: 15px;
  border: 2px solid $color-lightning_green;
  padding: 10px 20px 15px 20px;
  background-color: $color-almost_black;
  color: $color-white;
  font-weight: 500;
  line-height: 1.5em;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bold {
  font-weight: 900;
}

#newsletter {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  width: 38px;
  height: 30px;
  @extend %margin_left;
  align-self: center;
}
.label_newsletter {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  align-self: center;
}

#terms {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  width: 38px;
  height: 30px;
  @extend %margin_left;
  align-self: center;
}
.label_terms {
  grid-row: 3 / span 1;
  grid-column: 2 / span 2;
  align-self: center;
}

// -------------------------------------- NEWS & TERMS SLUT --------------------------------//
.add_button {
  @extend %green_button;
}

// -------------------------------------- GRID PLACERINGER --------------------------------//
.form_grid1 {
  // display: none;
  // position: absolute;
  // top: 13vw;
  // right: 0vw;
  // position: absolute;
  // transform: translateX(-100vw);
}

.form_grid2 {
  position: absolute;
  transform: translateX(-100vw);
}

.form_grid3 {
  position: absolute;
  transform: translateX(-100vw);
}
.form_grid4 {
  position: absolute;
  transform: translateX(-100vw);
  grid-template-rows: 30px auto auto;
}

.ekstern_betaling {
  position: absolute;
  transform: translateX(-100vw);
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  margin-top: -13vw;
  display: flex;
  align-items: center;
  h1 {
    font-weight: 900;
    font-size: 10vw;
    text-align: center;
  }
}

// -------------------------------------- FLOW 4 --------------------------------//

.container_flow4 {
  @extend %container;
  grid-template-rows: auto;
  grid-row-start: 2;
}

.booking_done {
  @extend %section;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: repeat(2, auto);
  margin-bottom: 20px;
}

.booking_done .grey_box {
  @extend %grey_box;
  grid-column: 1 / span 2;
  background: $color-lightning_green;
  border-radius: 6px 6px 0 0;
}

.booking_done h1 {
  grid-column: 1 / span 2;
  @extend %margin_left;
}
.booking_done h2 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  @extend %margin_left;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
  color: $color-almost_black;
  text-align: center;
}

.booking_done p:first-of-type {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  @extend %margin_left;
  @extend %margin_right;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
}
.booking_done .pssst {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  @extend %margin_left;
  @extend %margin_right;
  font-weight: 900;
  color: $color-white;
  font-size: 26px;
  text-align: right;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fast_track {
  width: 100%;
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}

.booking_done p:last-of-type {
  grid-row: 5 / span 1;
  grid-column: 1 / span 2;
  // @extend %margin_left;
  // @extend %margin_right;
  margin: 0;
  padding: 20px;
  background: $color-almost_black;
  color: $color-white;
  border-radius: 0 0 6px 6px;
}

.green {
  color: $color-lightning_green;
}
.download {
  grid-row: 6 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  .appstore {
    height: 48px;
  }
  .googleplay {
    height: 63px;
  }
}
